@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif;
	}
}
.playfair {
	font-family: 'Playfair Display', serif;
}

.playfair-sub {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	font-size: 2.7rem;
	font-weight: 700;
	position: relative;
}

.container {
	min-height: 90vh;
	@apply px-4 md:px-8;
}

.container-sub {
	min-height: 90vh;
	min-width: 100%;
	@apply px-4 md:px-8;
}

.underline, .desktop-link {
	opacity: .8;
	transition: all 200ms ease-in 100ms;
}

.underline:hover, .desktop-link:hover {
	opacity: 1;
	scale: 1.1;
}

.custom-btn {
	z-index: 5;
	outline: none;
	color: white;
	font-weight: 700;
	border-radius: 8px;
	padding: .5rem 1.4rem;
	background: #229FD4;
	text-transform: capitalize;
	transform: translate(-8px, -9px);
	transition: transform 250ms ease 50ms;
}

.custom-btn:hover {
	transform: translate(0, 0);
}

.custom-btn-shadow {
	top: 0;
	height: 38px;
	width: 134px;
	position: absolute;
	border-radius: 8px;
	border: 2px solid #229FD4; 	
}

.donate__btn {
	border: #777;
	text-align: center;
	background: #1b7da7;
	color: white;
	font-weight: 700;
	letter-spacing: 2px;
	border-radius: 12px;
	padding: .8rem 2.3rem;
	text-transform: capitalize;
	transition: all 400ms ease-in-out;
}

.donate__btn:hover, .donate__btn:focus, .donate__btn:active {
	background: #146283;
}

.donate__btn--green {
	background: rgb(147, 221, 36);
}

.donate__btn--green:hover, .donate__btn--green:focus, .donate__btn--green:active {
	background: rgb(115, 175, 25)
}

.donate__btn--search {
	grid-column-start: 2;
	grid-column-end: 4;
}

.donate__btn--submit {
	grid-column-start: 4;
	grid-column-end: 5;

	grid-row-start: 1;
	grid-row-end: 3;
}